#app{
    color: #4d4d4d;
}
a.active{
    color: orange;
}
.header{
 background-color: #585858;
 margin-top: 0px;
 padding-left: 0px;
 padding-right: 0px; 
}
.output{
    font-size: 20px;
    font-weight: bold;
    color:#093145;
}
